@import "tailwindcss";

@theme {
  /* フォント */
  --font-sans: 'M PLUS Rounded 1c', sans-serif;

  /* メイン（ペールグリーン） */
  --color-primary: #6A9B76;
  --color-primary-hover: #5A8A66;

  /* 背景 */
  --color-background-light: #F6F3EE;
  --color-background-dark: #E3ECE6;

  /* テキスト */
  --color-text-main: #1E2D26;
  --color-text-secondary: #4A5C52;

  /* UI補助 */
  --color-border-light: #B8C8BC;
  --color-input-bg-light: #FFFFFF;

  /*導入ページの動き用*/
  @keyframes bounce-slow {
  0%, 100% { transform: translateY(-15%); }
  50% { transform: translateY(0); }
  }

  @utility animate-bounce-slow {
    animation: bounce-slow 2s ease-in-out infinite;
  }
}